@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* experimental */
  @apply transition-all ease-linear duration-1000 w-full max-w-7xl border border-gray-500 text-gray-900 dark:text-yellow-400 mx-auto;
}

.header {
  @apply sticky top-0 flex justify-between items-center h-12 p-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.globalWelcome {
  @apply text-4xl items-center justify-center flex flex-col;
  height: calc(100vh - 52px);
}